<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>{{ title }}!</h1>
  <img width="300" alt="User avatar" src="{{person.avatar}}">
  <p>About Me: My name is {{person.name}} and I am {{person.age}} years old</p>
  <div *ngIf="showAddress">
    <h3>Address</h3>
    <ul>
      <li>{{person.addres.street}}</li>
      <li>{{person.addres.city}}</li>
      <li>{{person.addres.state}}</li>
    </ul>
  </div>
  <h3>Friends</h3>
  <ul>
    <li *ngFor="let friend of person.friends">
      {{friend.name}}
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
